body {
    font-family: 'Roboto';
}
.titleRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  color: white;
}

.tagsRow {
  display: flex;
  flex-direction: row;
  margin: 0.5%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.tagsRow li {
  background-color: rgb(143, 136, 44);
  padding: 0.5%;
  justify-content: center;
}
.tag {
  background: #9A9EFC;
  padding: 1%;
  margin: 0 2%;
  border-radius: 5px;
  display: inline-block;
  height: 1%;
}

/* .fas {
    color: white;
} */
.entryImages {
  display: flex;
  flex-direction: row;
}
.entryImages img {
  width: 20%;
  height: 20%;
}

.entryCover {
  width: 25%;
  margin: 5%;
  padding: 3%;
  background: #f5f3f3;
  box-shadow: 3px 3px gray;
  border: 1px solid black;
  border-radius: 5px;
}

.entryFull {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5%;
}

.entry-list {
    margin: 5%;
    width: 100%;
  display: flex;
  flex-direction: column;
}

.entry-buttons {
    display: flex;
    flex-direction: column;
}

#download-button {
    font-size: 18px;
}

li {
  list-style-type: none;
  margin: 0 2%;
}
ul {
  margin: 2%;
}
button {
  background: inherit;
  border: none;
}

.app {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #ddd;
  width: 300px;
  align-items: center;
  height: 1000px;
}

.nav-bar ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 2.5%;
  font-size: 14px;
  height: 40px;
}

.nav-bar ul {
  width: 300px;
  padding: 0;
}

.home-page { 
    margin: 5%;
}

.fa-times:before{
  color: white;
}