.app {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #ddd;
  width: 300px;
  align-items: center;
}

.nav-bar ul li {
    display: flex;
    justify-content: center;
  list-style-type: none;
  margin-top: 2.5%;
  font-size: 14px;
  height: 40px;
  
}

.nav-bar ul {
  width: 300px;
    padding: 0;
}
